<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Fakebook</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body onload="load_home_page(0)">

   <div class="app-wrap">

      <!-- Top Menu bar -->
      <div class="icon-bar">
         <a><i class="fa fa-home" onclick="load_home_page(val)"></i>Home</a>
         <a><i class="fa fa-bell"></i>Notifications</a>
         <a><i class="fa fa-envelope"></i>Messages</a>
         <a><i class="fa fa-user" onclick="load_profile_page()"></i>Me</a>
      </div>

      <!-- What's on your mind user bar -->
      <header class="app-header" id="main_head">
         <a class="button" id="main_head"><i id="profile_picture"></i></a>
         <a class="post_button" id="main_head" onclick="load_comment_page();"><i>What's on your mind? </i></a>
         <a class="button" id="main_head" onclick="add_content()"><i class="fa fa-cog"></i></a>
      </header>

      <!-- Message Feed -->
      <div class="content">
         <div id="content_parent">
            <ul class="posts" id="content">
            <!-- All the messages load here -->
            </ul>

            <!-- Create a new Message -->
            <form id="form" action="">
               <input type="hidden" name="current_id" id="current_id" value="<?php echo $current_id ?>">
               <textarea class="textarea" id="message_text" cols="30" rows="10" placeholder="What's on your mind?"
                  name="message_text"></textarea>
               <input class="submit" type="button" value="Post" onclick="makeRequest(document.getElementById('current_id').value,
                                                                                     document.getElementById('message_text').value);
                                                                                     load_home_page(val);
                                                                                     window.location.reload();">
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </form>

            <!-- Loggin Page -->
            <form class="full_width" id="login_form">
               <label for="uname"><b>Username</b></label><br>
               <input class="full_width" id="login_uname" type="text" placeholder="Enter Username" name="uname" required><br>
               <label for="psw"><b>Password</b></label><br>
               <input class="full_width" id="login_psw" type="password" placeholder="Enter Password" name="psw" required><br>
               <button class="auth_button" type="buton" onclick="login()">Login</button>
               <p class="full_width">or</p>
               <button class="auth_button2" type="button" onclick="load_sign_up_page()">Sign-up</button>
               <br><br><br><br><br><br><br><br>
            </form>

            <!-- Sign up Page -->
            <form class="full_width" id="sign_up_form">
               <label for="uname"><b>Username</b></label><br>
               <input class="full_width" id="sign_up_uname" type="text" placeholder="Enter Username" name="uname" required><br>
               <label for="psw"><b>Password</b></label><br>
               <input class="full_width" id="sign_up_psw" type="password" placeholder="Enter Password" name="psw" required><br>
               <label for="dname"><b>Display Name</b></label><br>
               <input class="full_width" id="sign_up_dname" type="text" placeholder="Enter Name" name="dname" required><br>
               <button class="auth_button" type="button">Sign-up</button>
               <p class="full_width">or</p>
               <button class="auth_button2" type="button" onclick="load_profile_page()">Login</button>
               <br><br><br><br><br>
            </form>

            <!-- Confirmation of new Account -->
            <p id="new_user_message"><br>Congratulations! You've created a new account. <br>
               Go ahead and log in so you can have fun with your friends!
               <br><br><br><br><br><br><br><br><br><br>
               <br><br></p>

         </div>

         <section id="spacing"></section>
      </div>
   </div>
</body>
<script src="fakebook.js"></script>

</html>