<!DOCTYPE html>
<html lang="en">

<!-- Welcome to the source code of my home page! If you're reading this,
you're probably either a HR person reviewing my resume or someone trying
to hack me. If you're the second, please don't! If you're the first, make
sure to have a look around not only on this super simple webpage, but some
of the other source code, which has some backend, that I've added on my
github page. -->

<head>
  <meta charset="utf-8">
  <meta name="description" content="The personal home page of Daniel Slaugh.">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <link href="business.css" rel="stylesheet">
  <title>Daniel Slaugh</title>
  <style></style>

</head>

<body>
  <div class="container">
    <img src="code.jpg" alt="campus students" style="width:100%;">

    <!-- Cool Seethrough Header -->
    <div class="centered">
      <ul>
        <li><a class="underline" id="Top" href="https://danielslaugh.herokuapp.com/">Home</a></li>
        <li><a class="underline" href="DanielSlaughResume.pdf"  download>Resume</a></li>
        <li><a class="underline" href="https://github.com/DanielSlaugh/SampleCode">See My Code</a></li>
        <li><a class="underline" href="https://www.linkedin.com/in/daniel-slaugh-60ab03172/">Linkedin</a></li>
        <li><a class="underline" href="https://danielslaugh.herokuapp.com/fakebook">Fakebook for Phone</a></li>
      </ul>
    </div>

    <!-- Main text in the center of the screen -->
    <div class="main_text">
      <h1>Daniel Slaugh</h1>
      <h3>Software Engineer</h3>
      <br><br>
      <a class="lightup_box" href="#part_two" style="text-decoration: none; color: white">More Below</a>
    </div>
  </div>

  <!-- The info -->
  <h2 style="text-align: center">Favorite Disciplines</h2>
  <div id="part_two" class="container_two">

    <div class="box">
      <div class="icon"><img src="python.png" alt="python" style="width: 120%"></div>
          <div class="content">
          <h3>Artificial Intelligence</h3>
          <p>I'm passionate about building A.I. systems to solve the world's problems.
             Experience with building CNNs, RNNs, Boltzmann Machines, and Autoencoders in Python with
             Pytorch, Skikit-learn, and TensorFlow. </p>
          <a href="https://github.com/DanielSlaugh/SampleCode/blob/master/Machine%20Learning/trees.py">Read More</a>
          </div>
      </div>
      <div class="box">
        <div class="icon"><img src="pi4.png" alt="Javascript" style="width: 80%"></div>
        <div class="content">
          <h3>Robotics</h3>
          <p>I love building robots that are robust and ready to take on the world.
             I'm familiar with Raspberry Pi, mocrocontrollers, networks, and basic mechatronics.
          </p>
          <a href="https://danielslaugh.herokuapp.com/robotics">Read More</a>
        </div>
      </div>
      <div class="box">
        <div class="icon"><img src="c.png" alt="C++" style="width: 120%"></div>
        <div class="content">
          <h3>C Based Languages</h3>
          <p>C++ was the language that I learned how to program with first in college, and also the
             language that I had the most classes in, so it always feels like going back home to code
             some object-oriented in it. Familiar with C and Java as well.
          </p>
          <a href="https://github.com/DanielSlaugh/SampleCode/blob/master/7%20-%20list/node.h">Read More</a>
        </div>
      </div>
  </div>

  <footer>
    <p>Daniel Slaugh</p>
    <p>Software Engineer</p>
    <p>Now Available for Hire</p>
  </footer>
</body>

</html>

<!-- <div class="box">
  <div class="icon"><img src="pi4.png" alt="Javascript" style="width: 80%"></div>
  <div class="content">
    <h3>Full Stack Web Development</h3>
    <p>I love building beautiful websites that are robust and ready to take on the world.
      I'm the most familiar with Node and PSQL for backend, and have also worked with PHP.
      Experienced with JavaScript, HTML5, and CSS3.
    </p>
    <a href="https://github.com/DanielSlaugh/SampleCode/blob/master/Fakebook%20(Node)/index.js">Read More</a>
  </div>
</div> -->